Location_Detector/drone_tracker/position.kml
Location_Detector/drone_tracker/shp/FAA_UAS_FacilityMap_Data_V2.dbf
Location_Detector/drone_tracker/drone_tracker_config.txt
Location_Detector/drone_tracker/inputData.txt
*.pyc
*.dbf
